.checkmarkContainer {
  animation: fadeInAndScale 2s ease-in-out forwards;
}

@keyframes fadeInAndScale {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
